{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mostrar.css' %}">
</head>
<script type="text/javascript">
    function confirmarEliminar(){
        var respuesta = confirm("¿Estas seguro que deseas eliminar este producto?")
        if (respuesta == true)
        {
            return true;
        }
        else{
            return false;
        }
    }
</script>
<body>
    
    <div >
        <h1>Productos</h1>
        <a class=agregar href="{% url 'form_producto' %}">Agregar Producto</a>
    </div>
    <div >
        <table border=1>
            <tr><td>Codigo</td><td>Nombre</td><td>Precio</td>   <td>Modificar</td><td>Eliminar</td></tr>
            {% for v in producto %}
            <tr><td>{{v.codigoProducto}}</td><td>{{v.nombreProducto}}</td><td>{{v.precioProducto}}</td>
            <td><a href="{% url 'form_mod_producto' v.codigoProducto %}">Modificar</a></td>
            <td><a href="{% url 'form_del_producto' v.codigoProducto %}"><button type="button" class="btn btn-danger" onclick="return confirmarEliminar()">Eliminar</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</body>
</html>
